@import 'utils/spacing.css';
@import 'components/nav.css';
@import 'skins/nav-theme.css';
@import 'base/colors.css';
@import 'components/card.css';
@import 'skins/card-theme.css';
@import 'utils/utilid.css';

* {
  box-sizing: border-box;
}

html,
header,
body {
  padding: 0;
  margin: 0;
}
